
<h1><%= image_tag @pick[0] %></h1>
<h1><%= image_tag @pick[1] %></h1>
<h1><%= image_tag @pick[2] %></h1>
<h1><%= image_tag @pick[3] %></h1>
<h1><%= image_tag @pick[4] %></h1>
<h1><%= image_tag @pick[5] %></h1>



